/* General changes */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
    align-items: center;
}



a {
    text-decoration: none;
}

/* Header & Hero Section */

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    font-size: 16px;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
}

.hero {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 64px;
}

.header, .hero {
    color: #F9FAF8;
    background-color: #1F2937;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heroPlaceholder {
    background-color: grey;
    padding: 100px;
}

#heroMainText {
    font-size: 48px;
    font-weight: 900;
}

#heroSubtext {
    font-size: 18px;
    color: #E5E7EB;
}

#heroButton {
    background-color:#3882F6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

/* Information Section */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.title {
    margin-top: 48px;
}

.information .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.imagePlaceholder {
    width: 175px;
    height: 175px;
    border: solid #3882F6 4px;
    border-radius: 15px;
}

.subtextPlaceholder {
    max-width: 175px;
    text-align: center;
    font-size: 14px;
    color: grey;
}

.imageAndSubtextContainer {
    display: flex;
    flex-direction: column;
}

.informationContainer {
    display: flex;
    gap: 64px;
    margin-top: 48px;
    margin-bottom: 128px;
}

/* Quote Section */

.quoteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 128px;
}

.quote {
    max-width: 800px;
    font-weight: 100;
    font-style: italic;
}

.from {
    font-size: 18px;
    font-weight: 700;
    margin-left: 500px;
}

/* Sign Up Button Section */

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 32px;
}

.buttonSection, #signUpButton {
    background-color: #3882F6;
    color: white;
    border-color: white;
}

/* Footer Section */

.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 32px;
    color: #F9FAF8;
    background-color: #1F2937;
}

